@model CMS.Models.VMArama
@{
    ViewBag.Title = Model.Aranacak + " - " + CMS.Resources.Dil.ara;
}

<h2 class="mt-2">@ViewBag.Title</h2>
<div class="card-columns mt-4">
    @foreach (var item in Model.Makaleler)
    {
        <div class="card">
            @if (item.Foto != null)
            {
                <img src="@item.Foto" class="card-img-top">
            }
            <div class="card-body">
                <h5 class="card-title fontozel">@item.Baslik</h5>
                <p class="card-text">
                    @item.KisaIcerik
                </p>
            </div>
            <div class="card-body text-right pt-0">
                <a href="/Makale/Oku/@item.Mid" class="btn btn-outline-iste">@CMS.Resources.Dil.devaminioku</a>
            </div>
        </div>
    }
</div>
