@model List<CMS.Models.Makale>
<!-- SLİDER -->
<div id="anaSayfaSlider" class="carousel slide mt-2" data-ride="carousel">
    <ol class="carousel-indicators">
        @{
            int i = 0;
            foreach (var item in Model)
            {
                if (i == 0)
                {
                    <li data-target="#anaSayfaSlider" data-slide-to="@i" class="active"></li>
                }
                else
                {
                    <li data-target="#anaSayfaSlider" data-slide-to="@i"></li>
                }
                i++;
            }
        }
    </ol>
    <div class="carousel-inner">
        @{
            int a = 0;
            foreach (var item in Model)
            {
                if (a == 0)
                {

                    <div class="carousel-item active">
                        <img src="@item.Foto" class="d-block w-100" alt="@item.Baslik">
                        <div style="background-color:rgba(52, 58, 64, 0.6)" class="carousel-caption text-light d-none d-md-block">
                            <h5>@item.Baslik</h5>
                            <p>@item.KisaIcerik</p>
                        </div>
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        <img src="@item.Foto" class="d-block w-100" alt="@item.Baslik">
                        <div style="background-color:rgba(52, 58, 64, 0.6)" class="carousel-caption text-light d-none d-md-block">
                            <h5>@item.Baslik</h5>
                            <p>@item.KisaIcerik</p>
                        </div>
                    </div>
                }
                a++;
            }
        }
    </div>
    <a class="carousel-control-prev" href="#anaSayfaSlider" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Geri</span>
    </a>
    <a class="carousel-control-next" href="#anaSayfaSlider" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">İleri</span>
    </a>
</div>
<!-- ./SLİDER -->
